*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Inter;
  width: 1280px;
  margin: auto;
}
.abc{
    text-align: center;
    margin-top: 45px;
}
.welcome{
    text-align: center;
    font-size: 19px;
     margin-top: 128px;
     margin-bottom: 16px;
     font-weight: bolder;
}
h2{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 48px;
}
.xyz{
    margin-bottom: 18px;
}
input{
    padding: 17px 236px 17px 17px;
    border-radius: 8px;
    border: 1px solid  #37A9CD;
}
button{
    width: 100%;
    padding: 16px ;
    margin-top: 32px;
    background-color: #37A9CD;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    margin-bottom: 100px;
}

@media (max-width:769px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .create{
        margin: 20px;
    }
    table input{
        width: 100%;
    }
    
}